ecmaFeatures:

env:
  es6: true

rules:
  arrow-parens: 0
  arrow-spacing: 0
  constructor-super: 0
  generator-star-spacing: 0
  no-class-assign: 0
  no-const-assign: 0
  no-this-before-super: 0
  no-var: 2
  object-shorthand: 0
  prefer-spread: 0
  prefer-reflect: 0
  require-yield: 0
